@import '../variables';

.categories {
  min-width: 279px;
  
  button {
    text-align: start;
    border: none;
    background: none;
    cursor: pointer;
  }

  .active {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $orange;
  }

  .title {
    width: 255px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid $orange;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      font-size: 16px;
      padding: 16px 0 0 20px;

      button {
        text-align: start;
        border: none;
        background: none;
        cursor: pointer;
      }

      span {
        color: $gray;
        font-size: 14px;
      }
    }
  }
  a {
    display: block;
    padding: 42px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $container-with-hidden-menu) {
    display: none;
  }
}
