@import '../variables';

.documents__container{
  text-align: left;
  color: #363636;
  width: 100%;
  margin: 0 0 0 6px;
  font-size: 16px;
  line-height: 24px;

  &__text{

    ol {
      counter-reset: li;
      li:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
     }
   }

    &__article {
      margin: 32px 0 0 0;
      font-weight: 600;
    }
    &__point {
      margin: 16px 0 0 30px;
      font-weight: 400;

      @media (max-width: 550px) {
        font-size: 15px;
        line-height: 20px;
      }
    }

  }
}

