$black: #363636; 
$white: #FFFFFF;
$gray-line: #BFC4C9; 
$gray: #A7A7A7;
$orange: #F83600;
$orange-gradient: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);

$container-width-desktop: 1110px;
$container-with-hidden-menu: 1050px;
$container-width-tablet: 767px;
$container-width-mobile: 550px;
$duration: 0.15s;
